.home-page {

  p {
    margin: 2em;
    line-height: 1em;
    font-size: 30pt;
    text-align: center;
  }

  .instruction-msg {
    font-size: 18pt;
  }

  .action-msg {
    color: $primary-color-dark;
    font-weight: bold;
    font-size: 36pt;
  }
  .settings-msg {
    font-size: 14pt;
  }

  .button-bar {
    text-align: center;
  }

  .toast {
    font-size: 28pt;
  }
}
