<ion-header color="primary">
    <ion-navbar color="dark">
        <ion-title>PICC Pocket - Infusion Timer</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="home-page">

    <div *ngIf="!started">
        <p class="settings-msg">
            Currently set for {{ medUnits }} units of medication
            to be infused over a period of {{ totalPumpTimeInMinutes }} minutes.
            This means that you should pump 1 unit of medication every {{ periodSeconds }} seconds.
        </p>
        <p class="settings-msg">
            <button ion-button (click)="openSettings()">
                <ion-icon name="settings"></ion-icon> &nbsp; Change Settings
            </button>
        </p>
        <p class="settings-msg">
            <button ion-button large *ngIf="started === false" (click)="start()">
                <ion-icon name="play"></ion-icon> &nbsp; Start
            </button>
        </p>
    </div>

    <p> &nbsp; </p>
    
    <div *ngIf="started">
        <p>
            <progress-circle 
                [minorMaxValue]="periodSeconds"
                [majorMaxValue]="medUnits"
                [minorValue]="countdownSecondsLeft" 
                [majorValue]="medUnitCounter"></progress-circle>
        </p>
    </div>
    <!--<div>
        <p *ngIf="started">  {{ medUnitCounter }} {{ medUnitCounter === 1 ? 'unit' : 'units'}} left</p>
    </div>-->
    <div>
        <p class="action-msg">
            {{ actionMessage }}&nbsp;
        </p>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="button-bar">
            <button ion-button color="dark" large *ngIf="started" (click)="pause()">
                <ion-icon name="pause" *ngIf="!paused"></ion-icon>
                <ion-icon name="play" *ngIf="paused"></ion-icon>
            </button>
            <button ion-button color="dark" large *ngIf="started" (click)="cancel()">
                <ion-icon name="square"></ion-icon>
            </button>
        </div>
    </ion-toolbar>
</ion-footer>