<div class="scaling-svg-container">
    <svg class="progress scaling-svg" viewBox="0 0 215 215">
        <circle id="progress_minor" cx="105" cy="105" r="95" 
                [attr.stroke-dasharray]="minorCircumference"
                [attr.stroke-dashoffset]="minorDashOffset" />
        <circle id="progress_major" cx="105" cy="105" r="80" 
                [attr.stroke-dasharray]="majorCircumference"
                [attr.stroke-dashoffset]="majorDashOffset" />

        <text id="progress-major-value-text" x="100" y="10" transform="rotate(90 55 55)" paint-order="stroke">
            {{ majorValue }}
        </text>
        <text id="progress-major-value-label" x="105" y="22" transform="rotate(90 55 55)" paint-order="stroke">
            units
        </text>
        <text id="progress-minor-value-text" x="105" y="56" transform="rotate(90 55 55)" paint-order="stroke">
            {{ minorValue }}
        </text>
        <text id="progress-minor-value-label" x="105" y="68" transform="rotate(90 55 55)" paint-order="stroke">
            seconds
        </text>
    </svg>
</div>